<div class="primeraParte">
  <div class="imagen">

    <img src="assets/img/familia3.png" alt="">


  </div>
  <div class="texto">
    <img src="assets/img/logoBlanco.png" alt="">
    <p>{{idiomaPagina[0]}}</p>

    <div class="seguros">
      <div (click)="openModal(1)" class="tipo">
        <fa-icon [icon]="faCarCrash"></fa-icon>
        <h3>{{idiomaPagina[1]}}</h3>
      </div>
      <div (click)="openModal(2)" class="tipo">
        <fa-icon [icon]="faHome"></fa-icon>
        <h3>{{idiomaPagina[2]}}</h3>
      </div>
      <div (click)="openModal(3)" class="tipo">
        <fa-icon [icon]="faTruck"></fa-icon>
        <h3>{{idiomaPagina[3]}}</h3>
      </div>
      <div (click)="openModal(4)" class="tipo">
        <fa-icon [icon]="faHeart"></fa-icon>
        <h3>{{idiomaPagina[4]}}</h3>
      </div>

      <div (click)="openModal(5)" class="tipo">
        <fa-icon [icon]="faHeartbeat"></fa-icon>
        <h3>{{idiomaPagina[5]}}</h3>
      </div>
      <div (click)="openModal(6)" class="tipo">
        <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
        <h3>{{idiomaPagina[6]}}</h3>
      </div>
      <div (click)="openModal(7)" class="tipo">
        <fa-icon [icon]="faHardHat"></fa-icon>
        <h3>{{idiomaPagina[7]}}</h3>
      </div>
      <div (click)="openModal(8)" class="tipo">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>{{idiomaPagina[8]}}</h3>
      </div>
    </div>
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #1454a4 ;"></path>
  </svg></div>


<div class="segundaParte">

  <div class="texto">
    <h1>{{idiomaPagina[9]}}</h1>


    <div class="opciones">
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> {{idiomaPagina[10]}}
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> {{idiomaPagina[11]}}
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> {{idiomaPagina[12]}}
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> {{idiomaPagina[13]}}
      </p>
    </div>

  </div>

  <div class="imagen">
    <img src="assets/img/socios.png" alt="">
  </div>
</div>

<div class="cuartaParte">
  <div class="imagen">
    <img src="assets/img/preguntas.png" alt="">
  </div>
  <div class="texto">

    <h1>{{idiomaPagina[14]}}</h1>
    <div class="llamar">
      <a href="tel:+8009378014">
        <fa-icon [icon]="faPhone"></fa-icon>
        +(800) 937-8014
      </a>
    </div>
    <p>{{idiomaPagina[15]}}</p>
    <p>{{idiomaPagina[16]}}</p>
    <p>{{idiomaPagina[17]}}</p>
  </div>

</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #1454a4 
;"></path>
</svg></div>
<div class="quintaParte">

  <div class="texto">
    <h1>{{idiomaPagina[18]}} </h1>
    <p>{{idiomaPagina[19]}} </p>
    <p>{{idiomaPagina[20]}}</p>
    <p>{{idiomaPagina[21]}}</p>
    <p>{{idiomaPagina[22]}}</p>
    <p>{{idiomaPagina[23]}}</p>
  </div>
  <div class="imagen">
    <img src="assets/img/opcion.png" alt="">
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #1454a4 ;"></path>
  </svg></div>


<div class="cuartaParte2">
  <div class="imagen">
    <img src="assets/img/obama.png" alt="">
  </div>
  <div class="texto">

    <h1>{{idiomaPagina[24]}}</h1>

    <div class="marcas">
      <div class="imagen"><img src="assets/img/ambetter.png" alt=""></div>
      <div class="imagen"><img src="assets/img/molina.png" alt=""></div>
      <div class="imagen"><img src="assets/img/bright.png" alt=""></div>
      <div class="imagen"><img src="assets/img/oscar.png" alt=""></div>
      <div class="imagen"><img src="assets/img/friday.png" alt=""></div>
      <div class="imagen"><img src="assets/img/care.png" alt=""></div>
      <div class="imagen"><img src="assets/img/christus.png" alt=""></div>
      <div class="imagen"><img src="assets/img/scott.png" alt=""></div>
      <div class="imagen"><img src="assets/img/texas.png" alt=""></div>
      <div class="imagen"><img src="assets/img/united.png" alt=""></div>
      <div class="imagen"><img src="assets/img/cigna.png" alt=""></div>
      <div class="imagen"><img src="assets/img/atena.png" alt=""></div>
      <div class="imagen"><img src="assets/img/avmed.png" alt=""></div>

    </div>
  </div>

</div>

<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #1454a4 
;"></path>
</svg></div>
<div class="terceraParte">
  <div class="titulo">
    <h3>Video Demostrativo</h3>
  </div>


  <div class="tarjetas">
    <video controls>
      <source src="../assets/video/video.mp4" type="video/mp4">
    </video>

  </div>


</div>


<div class="sextaParte">

  <div class="texto">
    <h1>{{idiomaPagina[25]}}</h1>
    <p>{{idiomaPagina[26]}}</p>
  </div>
  <div class="imagen">

  </div>
</div>

<div class="footer">
  <div class="primeraParteFooter">
    <div class="izquierda">
      <h3>MIT SERVICES</h3>

      <a href="#">{{idiomaPagina[1]}}</a>
      <a href="#">{{idiomaPagina[2]}}</a>
      <a href="#">{{idiomaPagina[3]}}</a>
      <a href="#">{{idiomaPagina[4]}}</a>
      <a href="#">{{idiomaPagina[5]}}</a>
      <a href="#">{{idiomaPagina[6]}}</a>

    </div>
    <div class="centro">
      <h3>{{idiomaPagina[27]}}</h3>

      <a href="#">+1 855 457 2583</a>

      <h3>EMAIL</h3>

      <a href="#">MITservices.josem@gmail.com</a>

    </div>
    <div class="derecha">
      <h3>{{idiomaPagina[28]}}</h3>
      <div class="social">

        <a target="_blank" href="https://www.instagram.com/segurosmanateefl/"> <img class="img-responsive"
            src="assets/img/Instagram2.png"></a>

        <a target="_blank" href="https://twitter.com/segurosmanatee"> <img class="img-responsive"
            src="assets/img/Twitter2.png"></a>



        <a target="_blank" href="https://www.facebook.com/segurosmanateefl"><img class="img-responsive"
            src="assets/img/facebook.png"></a>


        <a target="_blank" href="#"> <img class="img-responsive" src="assets/img/linkedin.png"></a>


        <a target="_blank" href="https://www.tiktok.com/@segurosmanateefl?lang=es"> <img class="imgtik"
            src="assets/img/tiktok.png"></a>


      </div>
    </div>
  </div>
  <div class="terceraParteFooter">
    <div class="centro">
      <p>© 2021. All right reserved!</p>

    </div>
  </div>

</div>


<div class="logo">
  <img src="assets/img/logo2.png" alt="">
  <select [(ngModel)]="idioma" (change)="cambioIdioma()" name="select">
    <option value="1">Español</option>
    <option value="2" selected>Ingles</option>
  </select>
</div>
<div class="boton">
  <a href="tel:+18554572583">
    <fa-icon [icon]="faPhone"></fa-icon>
  </a>
</div>

<div class="boton2">
  <a href="#" (click)="openModal(0)">
    <fa-icon [icon]="faEnvelope"></fa-icon>
  </a>

</div>






<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <div class="segundaParteModal">
      <h3>{{titulo}}</h3>

      <p class="tituloModal">{{texto}}</p>
      <div class="inputs">
        <div class="input">
          <label>NOMBRE</label>
          <input type="text" [(ngModel)]="datos.nombre">
        </div>
        <div class="input">
          <label>APELLIDO</label>
          <input type="text" [(ngModel)]="datos.apellido">
        </div>
      </div>

      <div class="inputs">
        <div class="input">
          <label>TELEFONO</label>
          <input type="text" [(ngModel)]="datos.telefono">
        </div>
        <div class="input">
          <label>EMAIL</label>
          <input type="text" [(ngModel)]="datos.correo">
        </div>
      </div>

      <div class="inputs">
        <div class="input">
          <label>CODIGO POSTAL</label>
          <input type="text" [(ngModel)]="datos.codigopostal">
        </div>
      </div>


      <button
        *ngIf="datos.nombre != ''  && datos.apellido != ''  && datos.telefono.length >= 9 && datos.correo.includes('@') && datos.correo.includes('.com') && datos.codigopostal != '' "
        (click)="enviarCotizacion()"> Enviar Datos</button>
    </div>


  </div>
</div>