<div class="primeraParte">
  <div class="imagen">

    <img src="assets/img/familia3.png" alt="">


  </div>
  <div class="texto">
    <img src="assets/img/logoBlanco.png" alt="">
    <p>¡Su seguro de confianza!</p>

    <div class="seguros">
      <div (click)="openModal(1)" class="tipo">
        <fa-icon [icon]="faCarCrash"></fa-icon>
        <h3>Seguro de auto</h3>
      </div>
      <div (click)="openModal(2)" class="tipo">
        <fa-icon [icon]="faHome"></fa-icon>
        <h3>Seguro de Propiedad</h3>
      </div>
      <div (click)="openModal(3)" class="tipo">
        <fa-icon [icon]="faTruck"></fa-icon>
        <h3>Seguro Comercial</h3>
      </div>
      <div (click)="openModal(4)" class="tipo">
        <fa-icon [icon]="faHeart"></fa-icon>
        <h3>Seguro de Vida</h3>
      </div>

      <div (click)="openModal(5)" class="tipo">
        <fa-icon [icon]="faHeartbeat"></fa-icon>
        <h3>Seguro de Salud</h3>
      </div>
      <div (click)="openModal(6)" class="tipo">
        <fa-icon [icon]="faBriefcaseMedical"></fa-icon>
        <h3>Seguros Dentales</h3>
      </div>
      <div (click)="openModal(7)" class="tipo">
        <fa-icon [icon]="faHardHat"></fa-icon>
        <h3>Beneficios de Empleados</h3>
      </div>
      <div (click)="openModal(8)" class="tipo">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>Taxes</h3>
      </div>
    </div>
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #5FAA57;"></path>
  </svg></div>


<div class="segundaParte">

  <div class="texto">
    <h1>Brindamos soluciones excepcionales para los clientes</h1>


    <div class="opciones">
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> Tranquilidad mental
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> Control para la vida
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> 100% de satisfacion
      </p>
      <p>
        <fa-icon [icon]="faCheck"></fa-icon> Compañia confiable
      </p>
    </div>

  </div>

  <div class="imagen">
    <img src="assets/img/socios.png" alt="">
  </div>
</div>

<div class="cuartaParte">
  <div class="imagen">
    <img src="assets/img/preguntas.png" alt="">
  </div>
  <div class="texto">

    <h1>¿Preguntas? Llame a Servicio al Cliente</h1>
    <div class="llamar">
      <a href="tel:+18554572583">
        <fa-icon [icon]="faPhone"></fa-icon>
        +1855 457 25 83
      </a>
    </div>
    <p>- Tenemos agentes certificados por el mercado de salud que están disponibles para escuchar y dar respuestas que
      puedas tener con toda la eficiencia y profesionalismo que tú y tus seres queridos se merecen</p>
    <p>- Nuestros especialistas en servicio al cliente están disponible las 24 horas del día, los 7 días a la semana, en
      los 365 días del año.
      Asistencia bilingüe (Inglés / Español) a todos nuestros clientes.</p>
    <p>- Más de 10 años de experiencia en la industria de seguros.</p>
  </div>

</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #5FAA57
;"></path>
</svg></div>
<div class="quintaParte">

  <div class="texto">
    <h1>¿Por qué Seguros Manatee es su mejor opción? </h1>
    <p>- Estamos cerca de usted, con agentes de seguros, distribuidos en la Florida y Texas a su disposición.</p>
    <p>- Si se cambia a Seguros Manatee podrá ahorrar hasta el 40% de su póliza actual.</p>
    <p>- ¡Ofrecemos la seguridad de estar protegidos, si hay un problema vamos a estar allí para usted!</p>
    <p>- Sin impuestos extras en nuestro servicio.</p>
    <p>- Disponibles las 24 horas de los 365 días del año.</p>
  </div>
  <div class="imagen">
    <img src="assets/img/opcion.png" alt="">
  </div>
</div>
<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
      style="stroke: none; fill: #5FAA57;"></path>
  </svg></div>


<div class="cuartaParte2">
  <div class="imagen">
    <img src="assets/img/obama.png" alt="">
  </div>
  <div class="texto">

    <h1>Somos su mejor opcion para su seguro de salud</h1>

    <div class="marcas">
      <div class="imagen"><img src="assets/img/ambetter.png" alt=""></div>
      <div class="imagen"><img src="assets/img/molina.png" alt=""></div>
      <div class="imagen"><img src="assets/img/bright.png" alt=""></div>
      <div class="imagen"><img src="assets/img/oscar.png" alt=""></div>
      <div class="imagen"><img src="assets/img/friday.png" alt=""></div>
      <div class="imagen"><img src="assets/img/care.png" alt=""></div>
      <div class="imagen"><img src="assets/img/christus.png" alt=""></div>
      <div class="imagen"><img src="assets/img/scott.png" alt=""></div>
      <div class="imagen"><img src="assets/img/texas.png" alt=""></div>
      <div class="imagen"><img src="assets/img/united.png" alt=""></div>
      <div class="imagen"><img src="assets/img/cigna.png" alt=""></div>
      <div class="imagen"><img src="assets/img/atena.png" alt=""></div>
      <div class="imagen"><img src="assets/img/avmed.png" alt=""></div>

    </div>
  </div>

</div>

<div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
  style="height: 100%; width: 100%;">
  <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #5FAA57
;"></path>
</svg></div>
<div class="terceraParte">
  <div class="titulo">
    <h3>Video Demostrativo</h3>
  </div>


  <div class="tarjetas">
    <video controls>
      <source src="../assets/video/video.mp4" type="video/mp4">
    </video>

  </div>


</div>


<div class="sextaParte">

  <div class="texto">
    <h1>Compara pólizas entre más de 10 compañías</h1>
    <p>Trabajamos con las mejores aseguradoras para ofrecerte las coberturas más extensas y completas en seguros
      realmente competitivos que te ofrecen la tranquilidad de estar en buenas manos.</p>
  </div>
  <div class="imagen">

  </div>
</div>

<div class="footer">
  <div class="primeraParteFooter">
    <div class="izquierda">
      <h3>SEGUROS MANATEE</h3>

      <a href="#">Seguro de Auto</a>
      <a href="#">Seguro de Propiedad</a>
      <a href="#">Seguro Comercial</a>
      <a href="#">Seguro de Vida</a>
      <a href="#">Seguro de Salud</a>
      <a href="#">Ventaja de Medicare</a>

    </div>
    <div class="centro">
      <h3>CONTACTANOS</h3>

      <a href="#">+1 855 457 2583</a>

      <h3>EMAIL</h3>

      <a href="#">segurosmanatee@gmail.com</a>

    </div>
    <div class="derecha">
      <h3>REDES SOCIALES</h3>
      <div class="social">

        <a target="_blank" href="https://www.instagram.com/segurosmanateefl/"> <img class="img-responsive"
            src="assets/img/Instagram2.png"></a>

        <a target="_blank" href="https://twitter.com/segurosmanatee"> <img class="img-responsive"
            src="assets/img/Twitter2.png"></a>



        <a target="_blank" href="https://www.facebook.com/segurosmanateefl"><img class="img-responsive"
            src="assets/img/facebook.png"></a>


        <a target="_blank" href="#"> <img class="img-responsive" src="assets/img/linkedin.png"></a>


        <a target="_blank" href="https://www.tiktok.com/@segurosmanateefl?lang=es"> <img class="imgtik"
            src="assets/img/tiktok.png"></a>


      </div>
    </div>
  </div>
  <div class="terceraParteFooter">
    <div class="centro">
      <p>© 2021. All right reserved!</p>

    </div>
  </div>

</div>


<div class="logo">
  <img src="assets/img/logo2.png" alt="">
  <select name="select">
    <option value="es">Español</option>
    <option value="en" selected>Ingles</option>
  </select>
</div>
<div class="boton">
  <a href="tel:+18554572583">
    <fa-icon [icon]="faPhone"></fa-icon>
  </a>
</div>

<div class="boton2">
  <a href="#" (click)="openModal(0)">
    <fa-icon [icon]="faEnvelope"></fa-icon>
  </a>

</div>






<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <div class="segundaParteModal">
      <h3>{{titulo}}</h3>

      <p class="tituloModal">{{texto}}</p>
      <div class="inputs">
        <div class="input">
          <label>NOMBRE</label>
          <input type="text" [(ngModel)]="datos.nombre">
        </div>
        <div class="input">
          <label>APELLIDO</label>
          <input type="text" [(ngModel)]="datos.apellido">
        </div>
      </div>

      <div class="inputs">
        <div class="input">
          <label>TELEFONO</label>
          <input type="text" [(ngModel)]="datos.telefono">
        </div>
        <div class="input">
          <label>EMAIL</label>
          <input type="text" [(ngModel)]="datos.correo">
        </div>
      </div>

      <div class="inputs">
        <div class="input">
          <label>CODIGO POSTAL</label>
          <input type="text" [(ngModel)]="datos.codigopostal">
        </div>
      </div>


      <button
        *ngIf="datos.nombre != ''  && datos.apellido != ''  && datos.telefono.length >= 9 && datos.correo.includes('@') && datos.correo.includes('.com') && datos.codigopostal != '' "
        (click)="enviarCotizacion()"> Enviar Datos</button>
    </div>


  </div>
</div>